/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 16 de Marzo de 2022*/
header{
    background-color: darkorchid;
    border:3px; color: rgb(255, 217, 0);
    text-align: center;
}

#cuadrado1{
    background-color: aqua;
    border: 3px; color: black;
    text-align: center;
    height: 200px;
}

#cuadrado2{
    background-color: rgb(255, 138, 226);
    border: 3px; color: black;
    text-align: center;
    height: 200px;
}
#cuadrado3{
    background-color: rgb(255, 124, 124);
    border: 3px; color: black;
    text-align: center;
    height: 200px;
}

#aside{
    background-color: khaki;
    border: 3px; color: black;
    text-align: center;
    height: 400px;
}

#footer{
    background-color: gray;
    color: black;
    text-align: center;
}