/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 16 de Marzo de 2022*/
header{
    background-color: blueviolet;
    border: 1px; color: black;
    text-align: center;
}

#aside{
    background-color: deeppink;
    border: 1px; color: black;
    text-align: center;
}

#nav{
    background-color: aqua;
    border: 1px; color: black;
    text-align: center;
}

#cuadrado1{
    background-color: darkorange;
    border: 1px; color: black;
    text-align: center;
}

#cuadrado2{
    background-color:lightblue;
    border: 1px; color: black;
    text-align: center;
}

#cubo{
    background-color: lime;
    border: 1px; color: black;
    text-align: center;
}

#footer{
    background-color: springgreen;
    border: 1px; color: black;
    text-align: center;
}