/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 16 de Marzo de 2022*/
#columna1{
    background-color: darkmagenta;
    border: 3px; color: coral;
}

#columna2{
    background-color: crimson;
    border: 3px; color: coral;
}

#columna3{
    background-color: lightseagreen;
    border: 3px; color: coral;
}